.thumbnail{
	margin: 0 5px 30px 5px;
}

.btn-primary, .btn-default{
	background-color: black;
	color: white;
	border-color: black;
}

.btn-primary:hover, .btn-default:hover{
	background-color: white;
	color: black;
	border-color: black;
}
/********************/
/*     carousel    */
/*******************/
 .carousel-indicators
  {
    width: 5%;
    top: 10%;
    left: 77.5%;
    position: absolute;
    white-space: nowrap;
  }
/*****************/
/*      fin     */
/***************/

