.thumbnail{
	margin-bottom:30px;
}

.btn-primary, .btn-default{
	background-color: black;
	color: white;
	border-color: black;
}

.btn-primary:hover, .btn-default:hover{
	background-color: white;
	color: black;
	border-color: black;
}
/********************/
/*     carousel    */
/*******************/
 .carousel-indicators
  {
    width: 5%;
    top: 10%;
    left: 77.5%;
    position: absolute;
    white-space: nowrap;
  }
/*****************/
/*      fin     */
/***************/
section, .carousel-inner{
	margin-top: 30px;
}

.thumbnail img{
	
	width:80%;
	height:200px;
}

body{
	background: linear-gradient(to bottom right, #6F5BFF, white);
}
