.thumbnail{
	margin-bottom:30px;
}

.btn-primary, .btn-default{
	background-color: black;
	color: white;
	border-color: black;
}

.btn-primary:hover, .btn-default:hover{
	background-color: white;
	color: black;
	border-color: black;
}
/********************/
/*     carousel    */
/*******************/
 .carousel-indicators
  {
    width: 5%;
    top: 10%;
    left: 77.5%;
    position: absolute;
    white-space: nowrap;
  }
/*****************/
/*      fin     */
/***************/
section, .carousel-inner{
	margin-top: 30px;
}

.thumbnail img{
	
	width:80%;
	height:200px;
}
.thumbnail{
	background-color: rgba(18, 41, 140, 0.35);
	border: none;
}

header, body, footer {
	background-image:-moz-linear-gradient(right, white, #6F5BFF);
}
/***************/
/*    admin   */
/*************/

.asideAdmin{
	background-color: rgba(18, 41, 140, 0.35) ;
	padding-bottom: 10px;
	text-align: center;
}

.asideAdmin a{
	color: white;
}

.pagination > li  > a{
	background-color: rgba(18, 41, 140, 0.35);
	color: white;
}

th, td{
	padding: 10px;
}