 .carousel-indicators
  {
    width: 5%;
    top: 10%;
    left: 77.5%;
    position: absolute;
    white-space: nowrap;
  }
 .carousel-inner img {
   height:50%;
   width:70%;
 }

 .carousel-inner {
   background-color:black;
 }