header
{
	background: linear-gradient(to bottom right, #6F5BFF, white);
}

.logo img{
	width: 70%;
	height: 70%;
	border: 1px dotted black;
}

.anim {
	width:15%;
	height:15%;
	font-size: 0.6em;
	animation: myfirst 3s linear;
}
@keyframes myfirst {
    0%   {left:-500px; top:-10px;}
    5%  {left:-400px;top:-10px;transform :rotate(-45deg);}
    15%  {left:-300px; top:-10px;}
    25%  { left:-200px; top:-10px;}
    50% { left:-100px; top:-10px;}
    100% {left:0px; top:0px;;}
}
*{
	 box-sizing: border-box;
	border: 1px dotted black;
}