header
{
	background-color: #6F5BFF;
}

.logo img{
	width: 70%;
	height: 70%;
	border: 1px dotted black;
}

.anim {
	width:25%;
	height:15%;
	font-size: 0.6em;
	animation: myfirst 3s linear;
}

.rouegauche img, .rouedroite img{
	height:60px;
	width:60px;;
	animation: mysecond 3s linear;
}
@keyframes myfirst {
    0%   {left:-500px; top:-10px;}
    50%  {left:-400px;top:-10px;transform :rotate(-45deg);}
    100% {left:0px; top:0px;display:none;}
}
@keyframes mysecond {
 from {
    transform :rotate(0deg);
  }

  to {
    transform:rotate(2000deg);
  }

}
.roue , h1
{
	 box-sizing: border-box;
	border: 1px dotted black;
	margin-bottom:0px;
}