footer{
	width: 100%;
	height: 110px;
	background: linear-gradient(to bottom right, #6F5BFF, white);
	font-family: Comic Sans MS;
	position: absolute;
	bottom: 0px;
	text-align: center;
	padding: 5px;
}

/*-------------------------------------------------------------------------------------social------------------------------------------------------------------------------------------*/

.social{
	height: 100px;
	position: relative;
}

.social img{
	width: 50px;
}

#cgv{
	position: absolute;
	bottom: 0px;
}

/*-------------------------------------------------------------------------------------fin social------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------locate------------------------------------------------------------------------------------------*/



/*-------------------------------------------------------------------------------------fin locate--------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------address------------------------------------------------------------------------------------------*/
.address p{
	font-size: 10px;
}
/*-------------------------------------------------------------------------------------fin address--------------------------------------------------------------------------------------*/